.stones{
    text-align: center;               
}
.paper{
    text-align: center;
}
.scissor{
    text-align: center;
}

button {
    font-size: 36px;
    color: #ffffff;
    padding: 60px 60px;
    margin: 100px 100px;
    background-color: #479dda;
    border: 6px solid #a9a4a4;
}
button:hover{
    background-color: #4b55ac;
    border: 5px solid #a9a4a4;
    transform: scale(1.2,1.2);
}

#result{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#result.win{
    color: rgb(60, 160, 60);
}
#result.lose{
    color: rgb(196, 66, 66);
}
#result.tie{
    color: rgb(167, 79, 201);
}
